@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: rgba(0 100 0 / .1) !important; */
}

body {
  font-family: 'Rubik', sans-serif;
  background: url("./images/notes-bg.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  min-height: 100dvh;
}

#root {
  width: 100%;
  min-width: 100%;
  height: max-content;
  min-height: 100vh;
}

*::selection {
  color: #343541;
  background-color: #9a5ee5;
}